src/main/resources/country.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="country"
           targetNamespace="country" elementFormDefault="qualified">

    <!-- REQUEST TYPES -->
    <xs:element name="getAllCountriesRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="getCountryByCodeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:countryInput"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateCountryNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:countryInput"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RESPONSE TYPES -->

    <xs:element name="getAllCountriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countries" type="tns:country" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="countryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CUSTOM TYPES -->

    <xs:complexType name="country">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="countryInput">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>